In [21]:
import pandas as pd
import numpy as np

dataDic = { "학생" : ["A", "B", "C", "D", "E", "F"],
            "국어" : [80, 90, 95, 70, 75, 85],
            "영어" : [90, 95, 70, 85, 90, 95],
            "수학" : [85, 95, 75, 80, 85, 100]}

columnsList = ["학생", "국어", "영어", "수학"]

In [25]:
df = pd.DataFrame(dataDic, columns = columnsList)
df = df.set_index("학생")
df

    국어  영어   수학
학생
A   80  90   85
B   90  95   95
C   95  70   75
D   70  85   80
E   75  90   85
F   85  95  100

In [27]:
df.to_excel("학생성적.xlsx", sheet_name = "성적")