In [9]:
import pandas as pd
import numpy as np

dicData = {'year': [2000, 2001, 2002, 2001, 2002],
               'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada'],
               'pop': [1.5, 1.7, 3.6, 2.4, 2.9]}

indexList = ['one', 'two', 'three', 'four', 'five']
columnsList = ['year', 'state', 'pop']

df = pd.DataFrame(dicData, index = indexList, columns = columnsList)
df

       year   state  pop
one    2000    Ohio  1.5
two    2001    Ohio  1.7
three  2002    Ohio  3.6
four   2001  Nevada  2.4
five   2002  Nevada  2.9