In [8]:
import pandas as pd
import numpy as np

arr = np.random.rand(6, 4)
dateIndex = pd.date_range('2019-09-01', end = '2019-09-06')
colList = ['A', 'B', 'C', 'D']

dataFrame = pd.DataFrame(arr, index = dateIndex, columns = colList)
dataFrame

                   A         B         C         D
2019-09-01  0.557359  0.607663  0.313257  0.744246
2019-09-02  0.646200  0.639741  0.565818  0.220622
2019-09-03  0.928645  0.880837  0.503901  0.860473
2019-09-04  0.489264  0.399641  0.260785  0.261076
2019-09-05  0.768786  0.660100  0.137383  0.733242
2019-09-06  0.103126  0.416651  0.233730  0.010362