In [26]:
import pandas as pd
import numpy as np

In [31]:
readExcelDF = pd.read_excel("학생성적.xlsx", 
                        sheet_name="기말", 
                        index_col="학생")
readExcelDF

      국어  영어   수학     평균
학생
홍길동   85  85  100  90.00
이순신   70  95   85  86.33
유관순  100  75   80  85.00
안중근   95  90   95  93.33
박숭실  100  85   90  91.66

In [32]:
dataDic = { "학생" : ["A", "B", "C", "D", "E", "F"],
            "국어" : [80, 90, 95, 70, 75, 85],
            "영어" : [90, 95, 70, 85, 90, 95],
            "수학" : [85, 95, 75, 80, 85, 100]}

columnsList = ["학생", "국어", "영어", "수학"]

In [33]:
writeExcelDF = pd.DataFrame(dataDic, columns = columnsList)
writeExcelDF = writeExcelDF.set_index("학생")
writeExcelDF

    국어  영어   수학
학생
A   80  90   85
B   90  95   95
C   95  70   75
D   70  85   80
E   75  90   85
F   85  95  100

In [34]:
ew = pd.ExcelWriter("학생성적2.xlsx")

readExcelDF.to_excel(ew, "중간")
writeExcelDF.to_excel(ew, "기말")

ew.save()