In [17]:
import pandas as pd
import numpy as np

df1 = pd.DataFrame({'Class1': [95, 92, 98, 100], 
                    'Class2': [91, 93, 97, 99]})

df2 = pd.DataFrame({'Class1': [87, 89], 
                    'Class2': [85, 90]})

df1.append(df2)

   Class1  Class2
0      95      91
1      92      93
2      98      97
3     100      99
0      87      85
1      89      90

In [18]:
df1.append(df2, True)

   Class1  Class2
0      95      91
1      92      93
2      98      97
3     100      99
4      87      85
5      89      90